name: frontend-dev
namespace: bankapp-dev
environment: development

replicaCount: 1

image:
  repository: frontend
  tag: dev-latest
  pullPolicy: Never

containerPort: 8080

service:
  type: ClusterIP
  port: 8080

ingress:
  host: frontend.dev.bankapp.local

resources:
  limits:
    cpu: "500m"
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "128Mi"
